body {
    background-color: #1e1e1e;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 40px;
    margin-bottom: 25px;
}

#memory-game-controls {
    background-color: #2a2a2a;
    padding: 20px;
    width: 320px;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #e44f44;
}

#memory-game-controls h3 {
    margin-top: 0;
}

#memory-game-controls label {
    font-size: 16px;
}

#tiles {
    margin-left: 10px;
    padding: 5px;
    border-radius: 6px;
}

.btn {
    background-color: #7a4e3b;
    border: 2px solid #e44f44;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 15px;
}

.btn:hover {
    opacity: 0.8;
}


#memory-game-container {
    margin-top: 40px;
}

#memory-game-container h3 {
    margin-bottom: 10px;
}


#game-board {
    display: grid;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;

}

.tile {
    width: 80px;
    height: 80px;
    background-color: #7a4e3b;
    border: 2px solid #e44f44;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}


.tile.hidden {
    background-color: #000;
    border: 2px solid #444;
    color: transparent;
}


.tile.matched {
    background-color: #3b7a4e;
    border-color: #44e44f;
}
